html,
body {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  background-color: #fafafa;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #ececec;
}

::-webkit-scrollbar-thumb {
  background: salmon;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ff5d4a;
}

.navbar {
  width: 100%;
  border-bottom: 1px solid #dfdfdf;
  position: fixed;
  background-color: white;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  top: 0px;
}

.navbar__brand {
  font-weight: 900;
}

.navbar__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
}

.navbar__list {
  width: 300px;
  display: flex;
  justify-content: space-between;
}

.navbar__list--mobile {
  display: none;
}

.navbar__li {
  text-decoration: none;
  color: black;
  font-weight: bold;
  display: block;
}

.navbar__dropdown {
  position: relative;
}

.navbar__listdrop {
  text-decoration: none;
  color: black;
  font-weight: bold;
  display: block;
  padding: 20px 35px;
  transition: 300ms;
}

.navbar__listdrop:hover {
  background-color: #ff5d4a;
  color: white;
  transition: 300ms;
  border-radius: 4px;
}

.navbar__li:hover {
  font-weight: 900;
}

.navbar__dropdown--content {
  z-index: 10;
  border-radius: 4px;
  margin-top: 20px;
  display: none;
  position: absolute;
  width: max-content;
  background-color: white;
  right: 0px;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.2);
}

.navbar__li-mobile {
  text-decoration: none;
  color: black;
  font-weight: bold;
  display: block;
  padding: 10px 0px;
}

.navbar__li-mobile:hover {
  font-weight: 900;
}

.hidden {
  display: none;
}

.block {
  display: block;
}

.hamburger {
  width: fit-content;
  height: fit-content;
  cursor: pointer;
  display: none;
}

.hamburger__line {
  width: 25px;
  height: 3px;
  margin: 5px;
  background-color: #ff5d4a;
  border-radius: 100px;
}

.home {
  margin-top: 70px;
  display: flex;
  position: relative;
  height: 100%;
}

.home__content {
  width: 60%;
  margin: 50px 40px;
}

.news__popular-text {
  font-weight: 900;
  font-size: 28px;
}

.home__news {
  margin: 30px 0px;
  padding: 25px;
  background-color: white;
  border-radius: 6px;
  box-shadow: 0;
  transition: box-shadow 0.3s;
}

.home__news:hover {
  transition-duration: 0.3s;
  box-shadow: 0px 0px 10px 0px rgb(0, 0, 0, 0.15);
}

.news__title {
  color: #ff5d4a;
  text-decoration: none;
}

.news__title:hover {
  text-decoration: underline;
}

.latest__news-title {
  color: #ff5d4a;
}

.news__content {
  margin: 30px 0px;
  text-align: justify;
}

.news__information {
  display: flex;
  color: black;
  justify-content: end;
}

.news__writer {
  font-size: 12px;
  margin-right: 1rem;
  font-weight: 200;
}

.news__date {
  font-size: 12px;
  font-weight: 200;
  font-style: italic;
}

.news__tag-list {
  display: flex;
}

.news__tag {
  margin-top: 15px;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 12px;
  color: #ff5d4a;
  display: block;
  text-decoration: none;
  border-radius: 50px;
  width: fit-content;
  padding: 6px 20px;
  border: 1px solid #ff5d4a;
  transition: 300ms;
}

.news__tag:hover {
  background-color: #ff5d4a;
  color: white;
  transition: 300ms;
}

.home__sidebar {
  width: 400px;
  height: auto;
  right: 0px;
  border-radius: 4px;
  border-left: 1px solid #ececec;
}

.sidebar__content {
  width: auto;
  margin: 50px 40px;
}

.sidebar__searchbar {
  width: 100%;
  background-color: white;
  /* border: 1px solid #ececec; */
  border: none;
  height: 30px;
  padding: 5px 20px;
  border-radius: 50px;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  transition: 150ms;
}

.sidebar__searchbar:hover {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  transition: 150ms;
}

.sidebar__searchbar:focus {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}

.latest__news-text {
  margin-top: 20px;
  font-size: 24px;
  font-weight: 900;
}

.sidebar__news-content {
  margin: 20px 0px;
  padding: 20px;
  height: fit-content;
  width: 100%;
  background-color: white;
  border-radius: 6px;
  transition: 300ms;
}

.sidebar__news-content:hover {
  box-shadow: 0px 0px 10px 0px rgb(0, 0, 0, 0.15);
  transition: 300ms;
}

.sidebar__news p {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  text-align: justify;
}

.sidebar__news a {
  font-size: 14px;
  color: white;
  font-weight: bold;
  display: block;
  text-decoration: none;
  border-radius: 50px;
  width: fit-content;
  padding: 6px 20px;
  background-color: salmon;
  transition: 300ms;
}

.pagination {
  display: flex;
  align-items: center;
  height: fit-content;
  justify-content: center;
}

.pagination__number {
  display: flex;
  border: 1px solid #ff5d4a;
  border-radius: 30px;
  width: fit-content;
  align-items: center;
}

.page__number {
  text-decoration: none;
  color: #ff5d4a;
  padding: 20px 25px;
  border-radius: 100px;
  display: block;
  transition: 300ms;
}

.page__number:hover {
  font-weight: bold;
  color: white;
  background-color: #ff5d4a;
  transition: 300ms;
}

.page__arrow-left {
  margin-right: 10px;
  transition: 300ms;
  color: #ff5d4a;
}

.page__arrow-right {
  margin-left: 10px;
  color: #ff5d4a;
  transition: 300ms;
}

.page__arrow-left:hover {
  transform: translateX(-5px);
  transition: 300ms;
}

.page__arrow-right:hover {
  transform: translateX(5px);
  transition: 300ms;
}

.sidebar__news a:hover {
  background-color: #ff5d4a;
  transition: 300ms;
}

.footer {
  position: relative;
  background-color: #0f172a;
}

.footer__brand {
  color: white;
  font-weight: 900;
  text-align: center;
  padding: 50px 0px;
}

.span__color {
  color: salmon;
}

@media only screen and (max-width: 640px) {
  .hamburger {
    display: block;
  }

  .navbar__list {
    display: none;
  }

  .navbar__dropdown--content {
    left: 0px;
  }

  .home__content {
    width: 100%;
  }

  .home__sidebar {
    display: none;
  }

  .news__tag-list {
    display: flex;
    flex-direction: column;
  }
}

.dark {
  background-color: #0f172a;
}

.hidden {
  display: none;
}

.block {
  display: block;
}
